/node_modules
/public/images
/public/hot
/public/storage
/public/js
/public/css
/public/css/app.css
/coverage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
# Ignore Mac DS_Store files
.DS_Store
public/images/projectImages/
