
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$primary: #051A57;
$secondary-dark: #4B4B4B;
$secondary-light: #E4E4E4;
$gradient-light: #0041C7;
$gradient-dark: #070110;
$default-header-start: #4A00A3;
$default-header-end: #151A99;
$main-gradient: linear-gradient(226deg, $gradient-dark 0%, $gradient-light 100%);
$default-header-gradient: linear-gradient(-225deg, $default-header-start 0%, $default-header-end 100%);

$primary-highlight: #052da3;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
