.bg-black {
  background-color: black;
  color: white;

}

.app-footer {
  width: 100%;
  height: 150px;
  padding-top: 30px;
  padding-left: 200px;
}

@media only screen and (max-width: 768px) {

  .app-footer {
    padding-left: 20px;
  }

}