#experience img{
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    margin: 0;
    padding: 0;
}

#experience h3{
    font-size:1.3em;
    padding:0;
    margin:0;
}

#experience h4{
    font-size:1.1em;
    padding:0;
    margin:0;
}

#experience h5{
    font-size:1em;
    padding:0;
    margin:0;
}

#experience p{
    font-size:.8em;
    margin: 0;
}